<!Doctype html>
<head>
<style>
#coolfont {
  font-family: 'Baloo Bhaina', cursive;
}
body {
	padding-top: 65px;

}
#test {
	font-family: 'Berkshire Swash', cursive;
}
	</style>
	<nav  class = 
		'navbar navbar-default navbar-fixed-top'><h2 id = 'coolfont' >Randomized Fantasy World</h2>
	</nav>

</head>
<body>
	<div class = 'jumbotron'>
		<div class = 'container-fluid' id = 'test'>
			<a href = 'generated' download>
				<button type = 'button' 
					class = 'btn btn-danger'>Download .pdf</button>
		</div>
	</div>

	{% block test %}{% endblock %}
	<!-- note: bootstrap css is at bottom because internet is very bad where I'm developing this. TBM to the top later. -->
	<link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'v>
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet"> 

  <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
